<div class="bg-gray-700">
  <div class="p-4 sm:px-6 lg:px-8 max-w-6xl mx-auto">
    <div>
      <div>
        <nav class="flex items-center text-sm leading-5 font-medium">
          <svg class="sm:hidden flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
          </svg>
          <%%= link_to <%= index_helper %>_path, class: 'text-gray-400 hover:text-gray-200 focus:outline-none focus:underline transition duration-150 ease-in-out' do %>
            <%= plural_table_name.capitalize %>
          <%% end %>
          <svg class="hidden sm:inline-block flex-shrink-0 mx-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
          </svg>
          <%%= link_to new_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "hidden sm:inline text-gray-400 hover:text-gray-200 focus:outline-none focus:underline transition duration-150 ease-in-out" do %>
            New <%= singular_table_name.capitalize %>
          <%% end %>
        </nav>
      </div>
      <div class="mt-2 md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <h2 class="mb-1 text-2xl font-bold leading-7 text-white sm:text-3xl sm:leading-9 sm:truncate">
            New <%= singular_table_name.capitalize %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-4 sm:p-6 lg:p-8 max-w-6xl mx-auto">
  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
